<section class="register_page">
	<div class="container">
		<form class="col-md-8 col-md-offset-2">
			<div class="form-group firstName">
				<label for="firstName">First Name</label>
				<input type="text" class="form-control" id="firstName" placeholder="First Name">
				<span class="help-block hidden"></span>
			</div>
			<div class="form-group lastName">
				<label for="lastName">Last Name</label>
				<input type="text" class="form-control" id="lastName" placeholder="Last Name" >
				<span class="help-block hidden"></span>
			</div>
			<div class="form-group email">
				<label for="email">Email</label>
				<input type="email" class="form-control" id="email" placeholder="Email" data-user-email>
				<span class="help-block hidden"></span>
			</div>
			<div class="form-group email">
				<label for="phone">Phone</label>
				<input type="phone" class="form-control" id="phone" placeholder="Phone" data-user-email>
				<span class="help-block hidden"></span>
			</div>
			<div class="form-group address">
				<label for="address">Address</label>
				<input type="text" class="form-control" id="address" placeholder="Address" data-user-address>
				<span class="help-block hidden"></span>
			</div>
			<div class="btn-set">
				<button id="saveUserBtn" class="btn btn-white">Save</button>
			</div>
		</form>
	</div>
</section>